<h3><%= @search_message %></h3>
<% @searched_posts.each do |post| %>
<div class="row">
  <h1 class=" xs-small-margin font-kern link-visited"><span style="color:#591D0A"><h3><%= link_to post.title, post_path(post.id) %></h3></span></h1>
</div>
<div class="row">
  <div class="hidden-xs hidden-sm col-md-4 bahia couriernew"><%= image_tag post.author.picture, class: "img-responsive img-extra-rounded" %> <%= post.author.name %> </div>
  <div class="hidden-xs hidden-sm col-md-5 lightgrey couriernew" id="date">on <a href="http://www.turfandcattle.com/date-this" class="social-media"> <%= post.created_at %></a></div>
</div>
<%= simple_format(truncate(post.body, length: 200, separator:' '), class: "row pad-right almostbigrow") %>
<% end %>
