<div class="row">
  <h1 class=" xs-small-margin font-kern link-visited"><span style="color:#591D0A"><%= link_to @post.title, post_path(@post.id) %> </span></h1>
</div>
<div class="row">
  <div class="hidden-xs hidden-sm col-md-4 bahia couriernew"><%= image_tag @post.author.picture, class: "img-responsive img-extra-rounded" %> <%= @post.author.name %> </div>
  <div class="hidden-xs hidden-sm col-md-5 lightgrey couriernew" id="date">on <a href="http://www.turfandcattle.com/date-this" class="social-media"> <%= @post.created_at %></a></div>
</div>
<%= simple_format(@post.body, class: "row pad-right almostbigrow") %>
<div class="row">
  <button type="button" class="col-xs-3 btn btn-info btn-sm btn-success"><a href="http://www.google.com" class="button-color"><span class="glyphicon glyphicon-comment"></span> Read Comments</a></button>
  <button type="button" class="col-xs-3 col-xs-offset-1 btn btn-info btn-sm btn-danger"><a href="http://www.google.com" class="button-color"><span class="glyphicon glyphicon-fire"></span>Burn</a></button>
  <button type="button" class="col-xs-3 col-xs-offset-1 btn btn-info btn-sm btn-success"><a href="http://www.google.com" class="button-color"><span class="glyphicon glyphicon-envelope"></span>Send</a></button>
</div>
