<!DOCTYPE html>
<html>
  <head>
    <title>Turf and Cattle</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <meta name="description" content="Your one stop for all things turf and cattle.">
    <meta name="viewport" content="width=device-width, initial-scale=1" >
    <%= csrf_meta_tags %>
  </head>
  <body >
    <div class="container-fluid">
      <div class="row">
        <div class="col-xs-12">
          <div class="row <%= set_background %>">
            <div class="col-xs-10 col-xs-offset-1">
              <div class="row">
                <div class="col-md-4 col-xs-12 header-font header-link-color"><%= image_tag "Cow", id: "logo" %>TURF & CATTLE CO. BLOG</div>
                <div class="col-md-1 col-xs-12 header-font"><%= link_to "ABOUT", about_path, class: "header-link-color" %></div>
                <div class="col-md-2 col-xs-12 header-font"><%= link_to "OUR AUTHORS", authors_path %></div>
                <div class="col-md-2 col-xs-12 header-font"><%= link_to "PAST CONTENT", posts_path %></div>
                <div class="col-md-3 col-xs-12 header-font">
                  <form class="row" action="/search" method="get">
                    <div  class="col-md-9">
                      <input class="search-field" type="text" name="search_term"/>
                    </div>
                    <div class="col-md-3 button button-padding-left">
                      <button class="button-rounded btn-secondary" type="submit">Search</button>
                    </div>
                  </form>
                </div>
              </div>
              <div class="row biggerrow">
                <div class="col-xs-7 col-xs-offset-5 title-font">TURF AND CATTLE CO.</div>
              </div>
              <div class="row">
                <div class="col-xs-6 col-xs-offset-6 subscript-font">An Iron Yard Academy Project Est. Summer 2016</div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xs-10 col-xs-offset-1">
          <div class="row bigrow">
            <div class="col-md-8">
              <%= yield %>
            </div>
            <div class="col-md-4">
              <div class="row">
                <div class="some-pad-top col-md-4 col-md-offset-4 col-sm-2 col-sm-offset-5 col-xs-4 col-xs-offset-4">
                  <%= image_tag "HeadShot",  class:"img-responsive img-rounded img-center" %>
                </div>
              </div>
              <div class="row text-center bahia couriernew ">
                  <h4 class="margin-bot">Isaiah Edward</h4>
              </div>
              <div class="row xs-left">
                  <div class="col-xs-12 text-center"><a href="https://twitter.com/IsaiahFasoldt" class="social-media">Twitter |</a> <a href="https://www.facebook.com/isaiah.fasoldt" class="social-media">Facebook |</a> <a href="https://www.instagram.com/ifasoldt/?hl=en" class="social-media">Instagram</a></div>
              </div>
              <div id="add" class="row lightgrey"> <%= image_tag @ad.ad_picture, class: "img-responsive bigrow" %><a href="http://www.google.com">About This Ad</a></div>
              <div class="xs-no-side-padding row padding-sides">
                <h4 class="bahia"><%= @ad.ad_title %></h4>
                <p class="lightgrey"><%= @ad.ad_body %></p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <%  if @posts %>
        <%= render partial: "content_pictures", locals: { posts: @posts} %>
      <% end %>
      <footer class="row background-redwood">
        <%= image_tag "TIY-logo.png", class:"col-md-1 col-md-offset-1 col-sm-3 col-sm-offset-2 col-xs-6 col-xs-offset-3" %>
        <div class="row hidden-md">
          <div class="col-md-3 text-white" id="copyright">"The Ironyard Copyright 2016, All Rights Reserved"</div>
          <div class="col-md-5 col-md-offset-2">
            <ul class="row">
              <li class="col-md-1 col-md-offset-1 no-side-padding"><a href="http://www.turfandcattle.com/help" class="link-white">Help</a></li>
                <li class="col-md-1 hidden-sm hidden-xs text-center  no-side-padding">|</li>
              <li class="col-md-2 no-side-padding"><a href="http://www.turfandcattle.com/contactus" class="link-white"> Contact Us</a></li>
              <li class="col-md-1 hidden-sm hidden-xs text-center no-side-padding">|</li>
              <li class="col-md-2 no-side-padding"><a href="http://www.turfandcattle.com/terms" class="link-white">Terms of Use</a></li>
              <li class="col-md-1 hidden-sm hidden-xs text-center no-side-padding">|</li>
              <li class="col-md-2 no-side-padding"><a href="http://www.turfandcattle.com/policies" class="link-white">Policies</a></li>
            </ul>
        </div>
      </div>
      </footer>
    </div>
  </body>
</html>
